.app {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: rgba(130, 79, 126, 0.454);
}
a {
  padding: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: end;
}

h1 {
  margin: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.navbar_logo {
  margin-left: 40px;
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
}
.navbar_login {
  padding: 10px;
}
.delete {
  display: block;
  justify-content: center;
}
.regist {
  align-items: center;
  margin: 50px;
}

.registartion_header {
  margin: 100px;
  width: 30%;
}

.ant-layout-header {
  height: 64px;
  padding: 0 500px;
}

.titele {
  align-items: center;
  background-color: rgb(0, 255, 4);
}

.App {
  display: flex;
  justify-content: center;
  margin: 20px;
}
p.task {
  align-items: center;
  justify-content: center;
}
.addTo {
  display: flex;
  justify-content: center;
}
.btnTo {
  justify-content: center;
}
